<div class="hashtag-management">
  <h2>ูุฏุฑุช ูุดุชฺฏโูุง</h2>
  <form action="/add-hashtag" method="POST" class="hashtag-add-form">
    <input type="text" name="hashtag" placeholder="ูุดุชฺฏ ุฌุฏุฏ..." required>
    <button type="submit">ุงูุฒูุฏู</button>
  </form>
  <ul class="hashtags-list">
    <% if(hashtags && hashtags.length) { %>
      <% hashtags.forEach(function(hashtag){ %>
        <li>
          <span class="hashtag-title">#<%= hashtag %></span>
          <form action="/remove-hashtag" method="POST" style="display:inline;">
            <input type="hidden" name="hashtag" value="<%= hashtag %>">
            <button class="remove-btn" title="ุญุฐู">๐</button>
          </form>
        </li>
      <% }) %>
    <% } else { %>
      <li style="opacity:.7;text-align:center;">ูููุฒ ูฺ ูุดุชฺฏ ุซุจุช ูุดุฏู</li>
    <% } %>
  </ul>
</div>
