body {
  font-family: sans-serif;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.dashboard {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding: 20px;
  box-sizing: border-box;
}
